* {
  box-sizing: border-box;
}
:root {
  --light-background: #364156;
  --dark-background: #212d40;
  --light-secondary-background: #7d4e57;
  --dark-secondary-background: #11151c;
  --light-text: #7d4e57;
  --dark-text: #11151c;
}

body {
  background-color: var(--light-background);
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}